body{
    background-color: rgb(26, 26, 26);
    font-family: "Segoe UI";
    color:aliceblue
}
#name{
    font-size: 4.5em;
    font-style: bold;
    font-weight: bolder;
    /*horizontal vertical blur color, (if you want more paste it here)*/
    text-shadow: 5px 5px 10px yellow, -5px -5px 10px rgb(17, 173, 69);
}
#box{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px yellow, -5px -5px 10px rgb(17, 173, 69)
}
