body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-image: url(../media/beautiful.jpg);
    background-attachment: fixed;
    background-size: cover;
}

nav{
    display: flex;
    height: 60px;
    background-color: aliceblue;
    color: rgb(30,30,30);
    padding: 0px 30px;
    justify-content: space-between;
}

#nav-title{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
}

#nav-title img{
    height: 80%;
    border-radius: 10px;
}

#nav-button{
    align-self: center;
}
#nav-button button{
    height: 30px;
    background-color: beige;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
}
#nav-button button:hover{
    transform: scale(1.2);
    background-color: rgb(151, 245, 245);
}