body{
    color:white;
    font-family: 'Segoe UI';
    background-color: rgb(34, 34, 34);
}
#title{
    font-size: 70px;
    font-weight: 500;
    text-shadow: 5px 5px 10px yellow, -5px -5px 10px rgb(17, 173, 69);
}
#box{
    border: 5px solid aqua;
    max-width: 830px;

}
#image{
    position: absolute;
    right:55px;
    top:320px
}

.intro{
    max-width: 800px;
    position: relative;
    left:15px
}
#listing{
    position: static;
    top:80%;
    border: 5px solid aqua;
    max-width: 830px;
}
#list1{
    position: static;
    left: 15px;
    top: 10px
}