body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(238, 208, 208);
    margin: 0px
}
nav{
    position: relative;
    background-color: rgb(0, 108, 202);
    height: 60px;
}
.icon{
    position: relative;
    margin: auto;
    height: 40px;
    border-radius: 10px;
}
button{
    height: 30px;
    margin-left: 10px;
    border-radius: 8px;
}
#item1{
    margin-left: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
}
#item2{
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}