body{
    background-image: url(/1.\ Web\ Development/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: 0px;
}
.container{
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.item{
    border: 1px rgba(255, 255, 255, 0) solid;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    background-blend-mode: darken ;
    backdrop-filter: blur(5px);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
button{
    width: 100px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(10, 180, 223);
}
#item1:hover,#item2:hover{
    border: 1px, rgb(10, 180, 223) solid;
    box-shadow:5px 5px 10px yellow, -5px -5px 10px rgb(17, 173, 69);
}
#item3{
    border: 1px rgba(255, 255, 255, 0) solid;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.062);
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
}